html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: inherit;
}
h1{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    font-size: 5rem;
}
h3 {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
} 
.container-form a {
    text-decoration: none;
    color: #E67E22;
}

body {
    background-color: #F8F9F9;
   font-size: 1.5rem;
   font-family: "Tilt Neon", sans-serif;
    width: 100%;
    height: 100%;
}
/*Utilidades*/
.text-center {
    text-align: center;

}
.m-3 {
    margin:3rem 0;
}

.container-name-aplication {
    height: 7rem;
    text-align: center;
    align-items: center;
}
.container-name-aplication h1 {
    color: #000;
    font-size: 7rem;
    display: block;
}
span {
    color: #E67E22;
    font-size: 7rem;
    display: inline-block;
}
@media(min-width: 360px){
    .container-name-aplication h1 {
        color: #000;
        font-size: 5rem;
        display: block;
    }
    span {
        color: #E67E22;
        font-size: 5rem;
        display: inline-block;
    }
}

@media(min-width: 1024px){
    .container-name-aplication h1 {
        color: #000;
        font-size: 7rem;
        display: block;
    }
    span {
        color: #E67E22;
        font-size: 7rem;
        display: inline-block;
    }
}

.container img{
    width: 12rem;
}
.container-logo {
    text-align: center;
}

.container-form input {
    display: block;
    margin: 1rem auto;
    width: 60%;
    height: 6.5rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: #E5E7E9; 
    text-align: center;
} 

.container-form button {
    margin: 1rem auto;
    background-color: #fd9642;
    color: #fff;
    border: 0.2rem solid #fd7e14;
    height: 6.5rem;
    border-radius: 1rem;
   } 
.container-form button:hover {
    background-color: #fd7e14;
    transition: 0.3s;
}
/* HomePage*/
/*headers*/
.header-container {
    height: 10vh;
    max-width: 100%;
    background-color: #17202A;
    color: #E5E7E9;
    display: grid;
    grid-template-columns: 3fr 3.2fr 1.4fr;
}
@media(min-width: 1024px){
    .header-container {
        grid-template-columns: 1.4fr 3fr 3.2fr 1.4fr;
    }
}
.container-menu {
    width: 100%;
}

.container-menu:nth-child(1) {
    display: none;
}
@media(min-width: 1024px){
    .container-menu:nth-child(1) {
        margin-left: 10rem;
        width: 100%;    
        display: flex;
        align-items: center;
        margin-left: 1rem;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}
.container-menu:nth-child(2) h1{
    font-size: 2rem;
    width: 100%;
    display: inline;
    margin: 0 0 0 1rem;
}
.container-menu:nth-child(2) span {
    font-size: 2rem;  
}
@media( min-width: 1024px){
    .container-menu:nth-child(2) h1 {
        margin: 0;
        font-size: 3rem;
    }
    .container-menu:nth-child(2) span {
        font-size: 3rem;  
    }
}
.container-menu:nth-child(2) {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;    
}
.container-menu:nth-child(3) {
    grid-column: 2/3;  
    display: flex;
    align-items: center;
}
.container-menu:nth-child(4) {
    grid-column: 3/4;  
    width: 60%;
    display: flex;
    align-items: center;
}
@media(min-width: 1024px){
    .container-menu:nth-child(2) {
        grid-column: 2/3;  
    }
    .container-menu:nth-child(3) {
        grid-column: 3/4;  

    }
    .container-menu:nth-child(4) {
        grid-column: 4/5;  
        margin-left: 4rem;
        width: 100%;
    }
}
.container-menu input {
    width: 90%;
    border-style: solid;
    border-color: #E5E7E9; 
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-left: 0,5rem solid;

}
.img-buscar {
    width: 2.1%;
    background-color: #fff;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: solid 0.2rem;
    border-right: none;

}
.img-buscar img{
    max-width: 100%;
    max-height: 50%;
    object-fit: cover;
}

.align-right {
    float: right;
}


.icon-header{
    object-fit: cover;
    border-radius: 100%;
    border: 0.3rem solid;
    width: 100%;
}
@media(min-width: 1024px){
    .icon-header{
        width: 20%;
        cursor: pointer;
    }
}

.icon-header:hover {
    border-radius: 100%;
    border: 0.2rem solid;
    transition: 0.3s;
}

/*Barra lateral*/
.nav-lateral:nth-child(1) {
    width: 100%;
    height: 100%;
    background-color: #17202A;
}
.ocultar-nav:nth-child(1) {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #17202A;
}
.nav-lateral ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.nav-lateral li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    height: 5rem;
    border-top: 0.1rem solid #E5E7E9;
}
.nav-lateral li:hover{
    transition: 0,3s;
    cursor: pointer;
    background-color: #2C3E50;
}
.nav-lateral li:nth-child(2) {
    border-left: 0.1rem solid #E5E7E9; 
    border-right: 0.1rem solid #E5E7E9; 
}
.nav-lateral a {
    text-decoration: none;
    color: #E5E7E9;    
}
@media(min-width: 1024px){
    .nav-lateral ul{
        flex-direction: column;
        padding-left: 0;
        margin-top: 0;
    }
    .nav-lateral li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        width: 100%;
        height: 5rem;
        border-left: none;
        padding: 2rem;
    }
    .nav-lateral li:nth-child(2) {
        border-left: none;
        border-right: none;
    }
    .nav-lateral li:nth-child(3) {
        border-bottom: 0.1rem solid #E5E7E9;
    }
}
/*contenido principal*/
.home-container {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 0.2fr 1.6fr ;
    gap: 2rem;    
}
@media (min-width: 1024px){
    .home-container {
        overflow: hidden scroll;   
        max-width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 0.4fr 1.6fr ;
        gap: 2rem;  
    }
}
.home-container-sin-nav{
    overflow: hidden scroll;
    background-color: #F8F9F9;
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2rem;
    padding-bottom: 3rem;
}